/* Extra.css */
.extra-container {
    background-color: #121212; /* Fundo escuro */
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    color: #ffffff; /* Cor do texto para contraste */
    padding: 20px;
  }
  
  .chart-container {
    max-height: 400px;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
  }
  
  .extra-card {
    background-color: #1f1f1f; /* Fundo mais escuro para os cards */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Borda suave */
    margin-bottom: 20px;
  }
  
  .extra-card-header {
    background-color: rgba(0, 0, 0, 0.6); /* Cabeçalho escurecido */
    color: #ffffff;
  }
  
  .extra-accordion-body {
    background-color: #2c2c2c; /* Fundo mais claro que o card para contraste */
    color: #ffffff; /* Cor do texto branca para contraste */
    border-top: 1px solid rgba(255, 255, 255, 0.1); /* Separação sutil */
  }
  