@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Inconsolata:wght@200..900&display=swap');
body {
  margin: 0;
padding:0;
height: 100vw;
}
.bord{
  border:1px solid black;
 
}
*{
  font-family: "Inconsolata", monospace;
 
}